# Rendered by systemd-migration: zone bridge of overlay network web_frontend on swarm-wrk-1 (local); range 10.10.1.0/24, this host's slice 10.10.1.0/24

[Match]
Kind=bridge
Name=vz-web_frontend

[Link]
RequiredForOnline=no

[Network]
Address=10.10.1.1/24
LinkLocalAddressing=yes
DHCPServer=yes
IPMasquerade=ipv4
IPv6AcceptRA=no

[DHCPServer]
PoolOffset=3
PoolSize=252
PersistLeases=runtime
LocalLeaseDomain=_dhcp

[DHCPServerStaticLease]
MACAddress=26:3b:af:b1:00:98
Address=10.10.1.2
Hostname=web_app
